
h1 {
    font-family: "TheiPersonalUse-2O2BK.otf";
}



#body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}

#ange {
    grid-column: 1;
    grid-row: 1;
    
}

nav {
    grid-column: 1;
    grid-row: 2;
}

ul {
    list-style-type: none;
}

#contenu {
    grid-column: 1;
    grid-row: 3;
}

footer {
    grid-column: 1;
    grid-row: 4;
    
}


